@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
App {
  font-family: "Montserrat", sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.name {
  /* font-family: Montserrat; */
  height: 40vh;
  font-size: 10vw;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}
.button {
  width: 100px;
  height: 100px;
  border: solid;
  border-radius: 100px;
  text-align: center;
}
.buttons {
  /* height: 40vh; */
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  /* align-items: center; */
}

body {
  background-color: rgb(48, 48, 48);
  margin: auto;
}
.result {
  /* font-family: Montserrat; */
  height: 40vh;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 10vw;

  align-items: center;
}
span {
  /* vertical-align: -43px; */
  color: white;
  /* font-family: roboto; */
  font-size: 35px;
}
.enabled {
  background-color: rgb(162, 155, 76);
  border: outset 3px white;
  cursor: pointer;
  /* /explain this */
}
.disabled {
  background-color: rgb(107, 102, 51);
  border: inset 3px white;
  cursor: no-drop;
}
